# Example configuration file for scicat-globus-proxy. Copy to:
#  linux:   $XDG_CONFIG_HOME/scicat-globus-proxy/scicat-globus-proxy-config.yaml
#  mac:     $HOME/Library/Application Support/scicat-globus-proxy/scicat-globus-proxy-config.yaml
#  windows: %AppData%\scicat-globus-proxy\scicat-globus-proxy-config.yaml
scicatUrl: "http://backend.localhost/"
port: 8080

# List all facilities here. Overrides facilityDefault attributes. (required)
facilities:

  - # unique name
    name: EXAMPLE-FULL
    # Globus collection UUID (required)
    collection: aaaa1111-22bb-cc44-dd5e-666667777777
    # List of globus scopes. If omitted, defaults to the scope shown here
    scopes:
      - "urn:globus:auth:scope:transfer.api.globus.org:all[*https://auth.globus.org/scopes/{{.Collection}}/data_access]"
    # The path in the JWT token to use for access control. Should point to an array or string. (default: profile.accessGroups)
    accessPath: profile.accessGroups
    # Enforce that `accessPath` contains this value to allow transfers to this facility
    # default: {{.Name}}
    accessValue: example-group
    # Transfer direction: SRC/DST/BOTH (default: BOTH)
    direction: BOTH
    # Path *relative to the globus endpoint root* when used as the source for transfers
    sourcePath: "/{{ .RelativeSourceFolder }}"
    # Path *relative to the globus endpoint root* when used as the destination for transfers
    destinationPath: "/archive/{{ .Pid }}/{{ .SourceFolder }}"
    # Globus Collection Root. Used for computing RelativeSourceFolder. (default: "/")
    collectionRootPath: "/"

  - # Minimal example with default facility settings
    name: EXAMPLE-MINIMAL
    collection: bbbb2222-33cc-ff55-ee6e-777778888888

# (Optional) overrides for performance tuning
task:
  maxConcurrency: 10
  queueSize: 100
  pollInterval: 10